body {
    overflow: initial;
    position: relative;
}

h1,
h2,
h3,
p {
    color: white;
}

/* 
.culture01 {
    position: relative;
    margin-top: 110px;
    min-height: 100vh;

}

.culture01 h1 {
    font-size: 80px;
    line-height: 1.2em;
}

.culture01 p {
    margin-top: 80px;
    font-size: 40px;
    font-weight: 400;
}

.cont01 {
    position: absolute;
    right: 20%;
    top: 55%;
    z-index: 999;
}

.cont01 img {
    position: absolute;
    right: 100%;
    bottom: 54%;
    max-height: 450px;
}
 */

.culture01 {
    margin-top: 100px;
}

.culture01 .cont {
    position: relative;
    min-height: 100vh;
}

.cont__img h1 {
    font-size: 80px;
    color: #fff;
    line-height: 1.2em;
}

.cont__img p {
    font-size: 40px;
    font-weight: 300;
    margin-top: 80px;
}

.cont__img {
    position: absolute;
    right: 13%;
    bottom: 0;
    animation: aa 1s ease-out forwards;
}

@keyframes aa {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}



.cont__img img {
    position: absolute;
    right: 100%;
    bottom: 65%;
}


.bg {
    position: absolute;
    top: 0%;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    max-width: 100%;
    z-index: -1;
}



.bg-text p {
    font-size: 290px;
    text-shadow: -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333, 1px 1px 0 #333;
    font-weight: 900;
    color: #000;
    animation: ani 120s linear infinite;
}

@keyframes ani {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-400%);
    }
}


/* =================================================================== */
/* =================================================================== */
/* =================================================================== */
/* =================================================================== */
/* =================================================================== */
/* =================================================================== */


.culture02 {
    margin-top: 230px;
    margin-bottom: 340px;
    width: 100%;
}

.top,
.bottom {
    width: 100%;
}

.top ul,
.bottom ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.top li,
.bottom li {
    width: 33%;
    padding: 0 75px;
}

.top li:nth-child(1),
.top li:nth-child(2),
.top li:nth-child(3) {
    padding-bottom: 75px;
    border-bottom: 1px solid #333;
}

.bottom li:nth-child(1),
.bottom li:nth-child(2),
.bottom li:nth-child(3) {
    padding-top: 75px;
}

.top li:nth-child(1),
.bottom li:nth-child(1) {
    border-right: 1px solid #333;
}

.top li:nth-child(2),
.bottom li:nth-child(2) {
    border-right: 1px solid #333;
}

.top img,
.bottom img {
    max-height: 110px;
    display: block;
    margin-bottom: 25px;
}





.top h3,
.bottom h3 {
    font-size: 50px;

}




.top p,
.bottom p {
    font-size: 40px;
    color: #888;
    font-weight: 200;
    padding-top: 8px;

}



/* =================================================================== */
/* =================================================================== */
/* =================================================================== */
/* =================================================================== */
/* =================================================================== */
/* =================================================================== */
/* =================================================================== */

.culture03 {
    margin-top: 230px;
}

.culture03 h1 {
    font-size: 160px;
    font-weight: 300;
    opacity: 1;
    transition: 1s;
    transform: rotateX(90deg);
}

.culture03 h1.ani {
    transform: rotateX(0deg);
}



/* =================================================================== */
/* =================================================================== */
/* =================================================================== */
/* =================================================================== */
/* =================================================================== */
/* =================================================================== */
/* =================================================================== */

.culture04 {
    overflow: initial;
    margin-top: 230px;
    margin-bottom: 320px;
}

.culture04 .cont {
    position: relative;
    min-height: 130vh;
}

.title__04 h1 {
    font-size: 160px;
    font-weight: 700;
    line-height: 1.2em;
    opacity: 0;
    transition: 1s;
    transform: translateY(100px);
}

.title__04 h1.ani {
    transform: translateY(0);
    opacity: 1;
}

.cont__04 {
    position: absolute;
    bottom: -190px;
    right: 0;
    padding-right: 40px;

}

.cont__04 h2 {
    font-size: 80px;
    opacity: 0;
    transition: 1s;
    transform: translateY(100px);
}

.cont__04 h2.ani {
    transform: translateY(0);
    opacity: 1;
}

.cont__04 p {
    margin-top: 50px;
    font-size: 40px;
    font-weight: 300;
    opacity: 0;
    transition: 1s;
    transform: translateY(100px);
}

.cont__04 p.ani {
    transform: translateY(0);
    opacity: 1;
}

.bg__04 {
    position: absolute;
    bottom: -304px;
    left: 0;
    width: 100%;
    max-width: 100%;
    min-height: 900px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.bg04 {
    position: absolute;
    white-space: nowrap;
    top: 46%;
    animation: marquee 120s linear infinite;
    z-index: -1;
}

.bg04 p {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    text-shadow: -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333, 1px 1px 0 #333;
    font-size: 290px;
    color: #000;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}



/* =================================================================== */
/* =================================================================== */
/* =================================================================== */
/* =================================================================== */
/* =================================================================== */
/* =================================================================== */
/* =================================================================== */

.culture05 {}

.title__05 h1 {
    font-size: 160px;
    line-height: 1.2em;
    opacity: 0;
    transition: 2s;
    transform: translateY(100px);
}

.title__05 h1.ani {
    transform: translateY(0);
    opacity: 1;
}

.content__05 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
    margin-top: 140px;
}

.content__05 div {
    margin-bottom: 100px;
    width: 23.1%;
}

.content__05 h4 {
    color: #fff;
    margin-top: 23px;
    font-size: 30px;
}

.content__05 span {
    font-size: 30px;
    color: #888;
    font-weight: 300;
}

.content__05 p {
    font-size: 30px;
    margin-top: 30px;
    color: #fff;
    font-weight: 300;
}



/* =================================================================== */
/* =================================================================== */
/* =================================================================== */
/* =================================================================== */
/* =================================================================== */
/* =================================================================== */
/* =================================================================== */

.culture06 h5 {
    color: #fff;
    font-size: 30px;

}

.culture06 p {
    font-size: 40px;
    font-weight: 300;
    margin: 50px 0 30px 0;
}

.swiper-wrapper div {
    display: flex;
    flex-direction: column;
    height: 500px;
}


.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: left;
    background: #000;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


span {
    color: white;
    font-size: 300px;
}

/* .culture06 h5 {
    color: #fff;
}

.content__06 {
    display: flex;
    justify-content: center;
    width: 100%;
}

 */



/* =================================================================== */
/* =================================================================== */
/* =================================================================== */
/* =================================================================== */
/* =================================================================== */
/* =================================================================== */
/* =================================================================== */

@media screen and (max-width :1023px) {

    .cont__img {
        right: 45%;
        bottom: 25%;
    }

    .cont__img h1 {
        font-size: 30px;
    }

    .cont__img p {
        font-size: 18px;
        margin-top: 26px;
    }

    .cont__img img {
        width: 50%;
        left: 65%;
        bottom: 115%;
    }

    .culture01 .cont {
        min-height: 590px;
    }


    .culture02 {
        margin-top: 100px;
        margin-bottom: 0;
    }


    .top li:nth-child(2n) {
        width: 50%;
        padding-top: 10px;
        border: none;
        padding-bottom: 30px;
        border-left: 1px solid #333;
        border-bottom: 1px solid #333;
    }

    .top li:nth-child(2n+1) {
        width: 50%;
        padding-top: 10px;
        border: none;
        border-bottom: 1px solid #333;
        padding-bottom: 30px;
    }

    .top h3 {
        font-size: 18px;
    }

    .top p {
        font-size: 16px;
        margin: 4px;
    }

    .top span {
        display: none;
    }

    .top img {
        height: 60px;
        margin: 20px auto;
        max-height: 90px;
    }

    .top ul {
        text-align: center;
    }




    .culture03 h1 {
        font-size: 44px;
    }

    .culture04 {
        margin-top: 90px;
        margin-bottom: 50px;
    }

    .title__04 h1 {
        font-size: 44px;
    }

    .cont__04 {
        position: relative;
        margin-top: 60px;

    }

    .culture04 .cont {
        min-height: 400px;
    }

    .cont__04 h2 {
        font-size: 30px;
    }

    .cont__04 p {
        font-size: 18px;

    }

    .bg__04 {
        display: none;
    }

    .title__05 h1 {
        font-size: 44px;
    }

    .content__05 div {
        width: 48%;
        margin-bottom: 20px;
    }

    .content__05 {
        justify-content: space-between;
        gap: 0;
    }

    .content__05 img {
        width: 100%;
    }

    .content__05 h4 {
        font-size: 16px;
        margin-top: 6px;
    }

    .content__05 span {
        font-size: 16px;
    }

    .content__05 p {
        font-size: 16px;
        margin: 30px 0 20px;
    }
}