body {
    overflow: initial;
    position: relative;
}

h1,
p,
h2,
h3,
h4 {
    color: white;
}

.solution01 {
    padding-top: 165px;
    width: 100%;
}

.solution01 .cont .solution01__title h1 {
    font-weight: 700;
    font-size: 160px;
    line-height: 1.2em;
    animation: ani 1s ease-out forwards;
    opacity: 0;
}

@keyframes ani {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.solution01 .cont .solution01__title p {
    font-size: 40px;
    color: #666;
    margin-top: 50px;
    margin-bottom: 220px;
    font-weight: 300;

}


.text_box ol {
    display: flex;

}

.text_box ol li {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    transition: 1s;
    transform: translateY(0);
    opacity: 0;
}

.text_box ol li.ani {
    opacity: 1;
    transform: translateY(-50px);
}


.text_box ol li h2 {
    font-size: 30px;
    font-weight: 600;
}

.text_box ol li p {
    margin-top: 30px;
    font-size: 40px;
    font-weight: 300;
}




/* ---------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------- */



.solution02 {
    position: relative;
    margin-top: 334px;
    padding-top: 850px;
}

.solution02__text {
    position: absolute;
    top: 0;
}

/* .solution02 .bg__img {
    padding-top: 40px;
} */

.solution02 .bg__img img {
    width: 100%;
    object-fit: cover;
}

.solution02__text h1 {
    font-size: 160px;
    font-weight: 300;
    transition: 1s;
    transform: rotateX(90deg);
    opacity: 0;
}

.solution02__text h1.ani {
    opacity: 1;
    transform: rotateX(0deg);
}

.solution02__text p {
    padding-top: 50px;
    font-size: 40px;
    font-weight: 300;
}



/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */


.solution03 {
    display: flex;
    text-align: center;
    height: 2218px;
}

.left_cont {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #666;
    /*     border-bottom: 1px solid #666;
    border-right: 1px solid #666;
    border-top: 1px solid #666; */

}

.left_top {
    height: 50%;
    border-bottom: 1px solid #666;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.solution03 .left_cont .scroll {
    transition: 2s;
    transform: translateX(-290px);
    opacity: 0;
}

.solution03 .left_cont .scroll.ani {
    opacity: 1;
    transform: translateX(0px);
}

.solution03 .right_cont .scroll {
    transition: 2s;
    transform: translateX(290px);
    opacity: 0;
}

.solution03 .right_cont .scroll.ani {
    opacity: 1;
    transform: translateX(0px);
}



.left_btm {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.right_cont {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #666;
    /*     border-bottom: 1px solid #666;
    border-left: 1px solid #666;
    border-top: 1px solid #666; */
    ;
}

.right_1 {
    height: 33.3%;
    border-bottom: 1px solid #666;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right_2 {
    height: 33.3%;
    border-bottom: 1px solid #666;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right_3 {
    height: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.solution03 h3 {
    font-size: 80px;
    padding-bottom: 30px;
}

.solution03 h4 {
    padding-top: 50px;
    padding-bottom: 18px;
    font-size: 50px;
}

.solution03 p {
    font-size: 40px;
    color: #666;
    font-weight: 300;
}

.solution03 span {
    display: block;
    width: 60px;
    height: 4px;
    background-color: #fff;
/*     margin-top: 20px;
    margin-bottom: 35px; */
    margin: 0 auto;
}





/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */




.solution04 {
    margin-top: 334px;
}

.solution04 .top_cont.scroll {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: 2s;
    transform: translateY(290px);
    opacity: 0;
}

.solution04 .top_cont.scroll.ani {
    opacity: 1;
    transform: translateY(0px);
}

.solution04 .top_cont h1 {
    font-size: 160px;
    line-height: 1.1em;
}

.solution04 .top_cont h2 {
    font-size: 160px;
    font-weight: 300;
    margin-top: 100px;
}

.solution04 .btm img {
    width: 100%;
}

.solution04 .top_cont p {
    font-size: 40px;
    color: #666;
    margin-top: 124px;
    margin-bottom: 200px;
    font-weight: 400;
}

.btm {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 2%;
}

.btm div {
    opacity: 0;
    transition: 2s;
}

.btm .scroll.ani {
    opacity: 1;
}

.btm div {
    width: 32%;
    margin-bottom: 100px;
}

.btm div p {
    font-size: 30px;
    padding-top: 5px;
}

.btm div span {
    font-size: 30px;
    font-weight: 300;
    color: #666;
}



/* ------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------- */




@media screen and (max-width : 1023px) {
    .solution01 {

        padding-top: 35%;
    }

    .solution01 .cont .solution01__title h1 {
        font-size: 44px;
    }

    .solution01 .cont .solution01__title p {
        font-size: 18px;
    }

    .text_box ol {
        display: flex;
    }

    .text_box ol li h2 {
        font-size: 18px;
    }

    .text_box ol li p {
        font-size: 18px;
        color: #666;
    }

    .text_box ol li {
        width: 100%;
    }

    .solution02 {
        margin-top: 100px;
        padding-top: 100px;
        padding-bottom: 170px;
    }

    .solution02__text {
        position: relative;
    }

    .solution02__text h1 {
        font-size: 44px;
    }

    .solution02__text p {
        font-size: 18px;
    }

    .solution02 .bg__img {
        position: absolute;
        bottom: 0px;
    }

    .solution03 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .left_cont,
    .right_cont {
        width: 100%;
    }

    .solution03 h3 {
        font-size: 36px;
    }

    .solution03 h4 {
        font-size: 24px;
        padding: 10px;
    }

    .solution03 p {
        font-size: 18px;
    }

    .solution04 {
        margin-top: 40px;
        margin-bottom: 100px;
    }

    .solution04 .top_cont h1 {
        font-size: 44px;
        margin-top: 120px;
    }

    .solution04 .top_cont h2 {
        font-size: 44px;
        margin-top: 50px;
    }

    .solution04 .top_cont p {
        font-size: 18px;
        margin-top: 35px;
        margin-bottom: 50px;
    }

    .btm {
        align-items: flex-start;
        justify-content: space-between;
    }

    .btm div {
        width: 47%;
        margin-bottom: 0;
        margin-top: 30px;
    }

    .btm div p {
        font-size: 14px;
    }

    .btm div span {
        font-size: 14px;
    }

    .btm div img {
        width: 100%;
    }
}