header {
  position: relative;
  z-index: 100;
  .menu-container {
    position: fixed;

    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    top: 0;
    .logo {
      a {
        padding: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        .logo-img {
          height: 60%;
          overflow: hidden;
          img {
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
    .burger {
      width: 80px;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      .burger-open {
        max-width: 0;
        transition: max-width 300ms ease-out;
        overflow: hidden;
        padding: 0;

        height: 100%;
        display: flex;
        position: absolute;
        right: 80px;
        .menu {
          width: 100%;
          padding: 0 20px;
          a {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            width: 100%;
            height: 100%;
            font-size: 1.5rem;
            font-weight: black;
            color: #003082;
          }
        }
      }
      .burger-wrap {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        position: relative;
        cursor: pointer;
        span {
          position: absolute;
          width: 30px;
          height: 2px;
          background: black;
          transition: 300ms;
          &:nth-child(1) {
            top: 20%;
          }
          &:nth-child(2) {
            top: 50%;
          }
          &:nth-child(3) {
            top: 80%;
          }
        }
      }
      &.open {
        .burger-open {
          max-width: 100vw;
          padding: 0;
          transition: max-width 300ms ease-in;
        }
        .burger-wrap {
          span {
            &:nth-child(1) {
              top: 50%;
              transform: rotate(45deg);
            }
            &:nth-child(2) {
              transform: scaleX(0);
            }
            &:nth-child(3) {
              top: 50%;
              transform: rotate(-45deg);
            }
          }
        }
      }
    }
  }
}
