@import url("./reset.css");
body {
  &.stop-scroll {
    overflow: hidden !important;
  }
}

header {
  position: relative;
  z-index: 1000;
  .menu-container {
    position: fixed;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    top: 0;
    box-sizing: border-box;
    .logo {
      position: absolute;
      top: 0;
      left: 2%;
      height: 100%;
      z-index: 50;
      a {
        padding: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        .logo-img {
          height: 40%;
          overflow: hidden;
          transition: 300ms;
          &.scale-up{
            height: 44%;
          }
          img {
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
    .burger {
      top: 50%;
      right: 2%;
      transform: translateY(-50%);
      width: 80px;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      cursor: pointer;
      z-index: 50;

      .burger-icon {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        position: relative;
        span {
          position: absolute;
          width: 30px;
          height: 2px;
          background: black;
          transition: 300ms;
          transform-origin: right;
          &:nth-child(1) {
            top: 20%;
          }
          &:nth-child(2) {
            top: 50%;
          }
          &:nth-child(3) {
            top: 80%;
          }
        }
      }
      &.burger-hover .burger-icon span{
        &:nth-child(1){
          transform: scaleX(0.3);  
        }
        &:nth-child(3){
          transform: scaleX(0.8);  
        }
      }

      &.burger-animation .burger-icon span {
        &:nth-child(1) {
          transform-origin: center;
          transform: rotate(45deg);
          top: 50%;
        }
        &:nth-child(2) {
          transform: scale(0);
        }
        &:nth-child(3) {
          transform-origin: center;
          transform: rotate(-45deg);
          top: 50%;
        }
      }
    }
    .burger-open {
      width: 100vw;
      height: 100vh;
      position: relative;
      display: none;

      &.display-on {
        display: block;
      }
      .open-section {
        position: absolute;
        top: 0;
        width: 0;
        height: 100%;
        transition: 300ms;
        background-color: #b7ebd6;
        &:nth-child(1) {
          left: 0%;
          background-color: #37B987;
          z-index: 2;
        }
        &:nth-child(2) {
          left: 30%;
        }
        &:nth-child(3) {
          left: 65%;
        }
      }
      .menu-contain {
        .introduce {
          position: absolute;
          width: 0;
          height: 100%;
          z-index: 5;
          opacity: 0;
          transition: 300ms;
        }

        .sphere {
          position: absolute;
          left: 40%;
          top: 100%;
          opacity: 0;
          z-index: 20;
          transition: linear 300ms;
          .sphere-top {
            width: 200px;
            transform: translate(-50%, -50%);
            position: absolute;
            z-index: 10;
            transition: linear 200ms;
            img {
              width: 100%;
            }
          }
          .sphere-bottom {
            width: 200px;
            transform: translate(-50%, -50%);
            position: absolute;
            z-index: 5;
            transition: linear 200ms;
            img {
              width: 100%;
            }
          }
          .sphere-content {
            width: 120px;
            height: 120px;
            transform: translate(-50%, -50%) scale(0);
            position: absolute;
            z-index: 0;
            transition: linear 200ms;
            .sphere-content-wrap {
              width: 100%;
              overflow: hidden;
              img {
                width: 100%;
                object-fit: cover;
              }
            }
          }
          &:hover {
            .sphere-top {
              transform: translate(-50%, -75%);
            }
            .sphere-bottom {
              transform: translate(-50%, -25%);
            }
            .sphere-content {
              transform: translate(-50%, -50%) scale(1);
            }
          }
        }

        .menu {
          position: absolute;
          width: 60%;
          height: 100%;
          left: 40%;
          display: flex;
          align-items: center;
          .menu-wrap {
            width: 100%;
            height: 60%;
            opacity: 0;
            transition: 300ms;
            position: relative;
            .burger-menu {
              width: 100%;
              height: 0;
              transition: 300ms;
              position: absolute;
              top: 100%;
              a {
                display: block;
                width: 100%;
                height: 100%;
                font-size: 8rem;
                font-family: "Signika", sans-serif;
                color: #003082;
                display: flex;
                align-items: center;
                &.this{
                  color: #000352;
                }
                i {
                  padding-left: 20%;
                  &::after {
                    content: "";
                    display: block;
                    border-bottom: 5px solid #003082;
                    transform: scaleX(0);
                    transition: 200ms;
                  }
                  &.mouse-over {
                    &::after {
                      transform: scaleX(1);
                    }
                  }
                }
              }
              &:nth-child(2) {
                a {
                  i {
                    padding-left: 5%;
                  }
                }
              }
            }
          }
        }
      }

      &.open {
        & .open-section {
          &:nth-child(1) {
            width: 40%;
          }
          &:nth-child(2) {
            width: 35%;
          }
          &:nth-child(3) {
            width: 35%;
          }
        }

        & .menu-contain {
          & .sphere {
            top: 80%;
            opacity: 1;
          }
          & .menu {
            & .menu-wrap {
              opacity: 1;
              & .burger-menu {
                height: 33.33%;
                &:nth-child(1) {
                  top: 0%;
                }
                &:nth-child(2) {
                  top: 33.33%;
                }
                &:nth-child(3) {
                  top: 66.67%;
                }
              }
            }
          }
        }
      }
    }
  }
}


