@import url("./header.css");

body {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  position: relative;
  background-color: #eefdf7;
  &.first-text-ani {
    overflow-y: hidden;
  }
  &.cursor-none {
    cursor: none;
  }
}

body::-webkit-scrollbar {
  display: none;
}

.scroll {
  position: fixed;
  width: 50px;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 500ms;
  text-align: center;
  z-index: 50;
  visibility: visible;
  span {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.3;
    color: #00ab69;
    text-shadow: 1px 1px 5px #eefdf7;
  }
  .line {
    margin: 30px auto 0;
    width: 2px;
    height: 100px;
    position: relative;
    overflow: hidden;
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      display: block;
      left: 0;
      background: #00ab69;
      animation: scroll-ani infinite 2000ms linear;
    }
  }

  &.invisible {
    opacity: 0;
    visibility: hidden;
  }
}
.touch {
  width: 200px;
  height: 200px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  visibility: hidden;
  z-index: 10;
  .touch-wrap {
    opacity: 0;
    transition: 500ms;
    width: 30%;
    height: 30%;
    position: relative;
    img {
      width: 100%;
      object-fit: cover;
      z-index: 2;
    }
    .circle {
      width: 20%;
      height: 20%;
      position: absolute;
      top: 0;
      left: 25%;
      border: 3px solid #00ab69;
      border-radius: 50%;
      box-sizing: border-box;
      animation: touch-ani 1000ms infinite linear;
      z-index: 1;
    }
  }
  &.visible {
    visibility: visible;
    & .touch-wrap {
      opacity: 1;
    }
  }
}
.mobile-touch {
  width: 200px;
  height: 100px;
  position: fixed;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: none;
  justify-content: center;
  align-items: center;
  .mobile-touch-wrap {
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    opacity: 0;
    transition: 300ms;
    > p {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2rem;
      color: #00ab69;
    }
    > span {
      width: 2px;
      height: 20px;
      background: #00ab69;
      position: absolute;
      transform-origin: bottom;
      animation: touch-span-ani infinite ease-out 800ms;
      &:nth-of-type(1) {
        top: 10%;
        left: 20%;
        rotate: -55deg;
      }
      &:nth-of-type(2) {
        left: 40%;
        rotate: -15deg;
      }
      &:nth-of-type(3) {
        left: 60%;
        rotate: 15deg;
      }
      &:nth-of-type(4) {
        top: 10%;
        left: 80%;
        rotate: 55deg;
      }
    }
  }
  &.visible {
    visibility: visible;
    & .mobile-touch-wrap {
      opacity: 1;
    }
  }
}
@keyframes touch-span-ani {
  0% {
    transform: scaleY(0);
  }
  30% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes touch-ani {
  0% {
    scale: 0;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    scale: 2;
    opacity: 1;
  }
  100% {
    scale: 2.5;
    opacity: 0;
  }
}

.term {
  width: 100%;
  height: 500px;
  &.last {
    height: 100vh;
  }
}

.first-title {
  width: 100%;
  height: calc(5000px + 100vh);
  position: relative;
  .first-sticky {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;

    .eclipse-text {
      width: 100%;
      height: 100%;
      position: absolute;
      overflow: hidden;
      display: flex;
      justify-content: center;
      i {
        height: 100%;
        font-weight: bold;
        font-family: "Signika", sans-serif;
        > span {
          display: inline-block;
          height: 100%;
          font-size: 0;
          transition: 300ms;
          &.invisible {
            opacity: 0;
          }

          > span {
            height: 100%;
            font-size: 20rem;
            display: inline-block;
            transition: 300ms;
            transform: translateY(100%);
            color: #00ab69;
            &.up {
              transform: translateY(20%);
            }
          }
        }
      }
    }
    .img-wrapper-second {
      width: 100%;
      height: 100%;
      position: absolute;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      display: flex;
      img {
        width: 40%;
        object-fit: cover;
        -webkit-user-drag: none;
        opacity: 0;
        position: absolute;
        &.origin {
          z-index: 5;
        }
        &.shadow {
          filter: blur(30px) brightness(0.1);
          z-index: -5;
        }
      }
    }
  }
}

.second-explosion {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  .candy-wrap {
    width: 100%;
    height: 100vh;
    top: 0;
    .candy01,
    .candy02,
    .candy03,
    .candy04,
    .candy05,
    .candy06,
    .candy07,
    .candy08 {
      left: 35%;
      bottom: -100%;
      transform: translateX(-50%);
      position: absolute;
      width: 25%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 80%;
        object-fit: cover;
        filter: drop-shadow(3px 3px 2px black);
      }
    }
  }
}

@keyframes scroll-ani {
  from {
    top: -110%;
  }
  to {
    top: 110%;
  }
}

@media screen and (max-width: 1400px) {
  .first-title {
    .first-sticky {
      .eclipse-text {
        i {
          > span {
            > span {
              font-size: 15rem;
              &.up {
                transform: translateY(25%);
              }
            }
          }
        }
      }
      .img-wrapper-second {
        img {
          width: 50%;
          &.shadow {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .first-title {
    .first-sticky {
      .eclipse-text {
        i {
          > span {
            > span {
              font-size: 10rem;
              &.up {
                transform: translateY(30%);
              }
            }
          }
        }
      }
      .img-wrapper-second {
        img {
          width: 60%;
          &.shadow {
            display: none;
          }
        }
      }
    }
  }
  .touch {
    display: none;
  }
  .mobile-touch {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .first-title {
    .first-sticky {
      .eclipse-text {
        i {
          > span {
            > span {
              font-size: 5rem;
              &.up {
                transform: translateY(35%);
              }
            }
          }
        }
      }
      .img-wrapper-second {
        img {
          width: 70%;
          &.shadow {
            display: none;
          }
        }
      }
    }
  }
}
