@import url(./header.css);
@import url(./reset.css);

body {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

.loading{
  background-color: #b7ebd6;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    object-fit: cover;
  }
  &.hide{
    display: none;
  }
}


.first-title {
  width: 100%;
  height: 5500px;
  position: relative;
  background-color: #b7ebd6;
  .first-sticky {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    .scroll-img{
      position: absolute;
      width: 8%;
      left: 50%;
      bottom : 5%;
      transform: translateX(-50%);
      transition: 300ms;
      img{
        width: 100%;
        object-fit: cover;
      }
      &.invisible{
        opacity: 0;
      }
    }
    .img-wrapper-first {
      width: 100%;
      height: 100%;
      position: absolute;
      transform: translateX(-200%);
      width: 50%;
      overflow: hidden;
      display: flex;
      align-items: center;
      img {
        width: 100%;
        object-fit: cover;
        transition: 600ms;
      }
      &.invisible img {
        opacity: 0;
      }
    }
    .img-wrapper-second {
      width: 50%;
      height: 100%;
      position: absolute;
      display: flex;
      align-items: center;
      overflow: hidden;
      img {
        opacity: 0;
        width: 100%;
        object-fit: cover;
        transition: 600ms;
      }
      &.visible img {
        opacity: 1;
      }
    }
  }
}
.term {
  width: 100%;
  height: 500px;
  background-color: #b7ebd6;
  &.last{
    height: 100vh;
  }
}

.second-explosion {
  background-color: #b7ebd6;
  width: 100%;
  height: 2300px;
  .candy-wrap {
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    .candy01,
    .candy02,
    .candy03,
    .candy04,
    .candy05,
    .candy06,
    .candy07,
    .candy08 {
      position: absolute;
      width: 20%;
      overflow: hidden;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    .candy01 {
      left: 40%;
      bottom: -40%;
      transform: translateX(-50%);
    }
    .candy02 {
      left: 40%;
      bottom: -40%;
      transform: translateX(-50%);
    }
    .candy03 {
      left: 40%;
      bottom: -40%;
      transform: translateX(-50%);
    }
    .candy04 {
      left: 40%;
      bottom: -40%;
      transform: translateX(-50%);
    }
    .candy05 {
      left: 40%;
      bottom: -40%;
      transform: translateX(-50%);
    }
    .candy06 {
      left: 40%;
      bottom: -40%;
      transform: translateX(-50%);
    }
    .candy07 {
      left: 40%;
      bottom: -40%;
      transform: translateX(-50%);
    }
    .candy08 {
      left: 40%;
      bottom: -40%;
      transform: translateX(-50%);
    }
  }
}

.third-video {
  background-color: #b7ebd6;
  width: 100%;
  height: 500vh;
  position: relative;
  .video-wrap {
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    video {
      width: 100%;
      object-fit: cover;
      opacity: 0;
      transition: 2000ms;
    }
    &.visible video {
      opacity: 1;
    }
  }
  .gradation {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, transparent 0%, transparent 20%, #b7ebd6 100%);

    position: absolute;
    top: 0;
    z-index: 10;
  }
}

.fourth-canvas{
  margin:0;
  padding:0;
  pointer-events: none;
  canvas{
    pointer-events: fill;
  }
}
