@import url("./header.css");
body {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  position: relative;
  background-color: #eefdf7;
}
body.first-text-ani {
  overflow-y: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.scroll {
  position: fixed;
  width: 50px;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 500ms;
  text-align: center;
  z-index: 50;
  visibility: visible;
}
.scroll span {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.3;
  color: #00ab69;
  text-shadow: 1px 1px 5px #eefdf7;
}
.scroll .line {
  margin: 30px auto 0;
  width: 2px;
  height: 100px;
  position: relative;
  overflow: hidden;
}
.scroll .line::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  left: 0;
  background: #00ab69;
  -webkit-animation: scroll-ani infinite 2000ms linear;
          animation: scroll-ani infinite 2000ms linear;
}
.scroll.invisible {
  opacity: 0;
  visibility: hidden;
}

.touch {
  width: 200px;
  height: 200px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  visibility: hidden;
  z-index: 10;
}
.touch .touch-wrap {
  opacity: 0;
  transition: 500ms;
  width: 30%;
  height: 30%;
  position: relative;
}
.touch .touch-wrap img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 2;
}
.touch .touch-wrap .circle {
  width: 20%;
  height: 20%;
  position: absolute;
  top: 0;
  left: 25%;
  border: 3px solid #00ab69;
  border-radius: 50%;
  box-sizing: border-box;
  -webkit-animation: touch-ani 1000ms infinite linear;
          animation: touch-ani 1000ms infinite linear;
  z-index: 1;
}
.touch.visible {
  visibility: visible;
}
.touch.visible .touch-wrap {
  opacity: 1;
}

.mobile-touch {
  width: 200px;
  height: 100px;
  position: fixed;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  justify-content: center;
  align-items: center;
}
.mobile-touch .mobile-touch-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  opacity: 0;
  transition: 300ms;
}
.mobile-touch .mobile-touch-wrap > p {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: #00ab69;
}
.mobile-touch .mobile-touch-wrap > span {
  width: 2px;
  height: 20px;
  background: #00ab69;
  position: absolute;
  transform-origin: bottom;
  -webkit-animation: touch-span-ani infinite ease-out 800ms;
          animation: touch-span-ani infinite ease-out 800ms;
}
.mobile-touch .mobile-touch-wrap > span:nth-of-type(1) {
  top: 10%;
  left: 20%;
  rotate: -55deg;
}
.mobile-touch .mobile-touch-wrap > span:nth-of-type(2) {
  left: 40%;
  rotate: -15deg;
}
.mobile-touch .mobile-touch-wrap > span:nth-of-type(3) {
  left: 60%;
  rotate: 15deg;
}
.mobile-touch .mobile-touch-wrap > span:nth-of-type(4) {
  top: 10%;
  left: 80%;
  rotate: 55deg;
}
.mobile-touch.visible {
  visibility: visible;
}
.mobile-touch.visible .mobile-touch-wrap {
  opacity: 1;
}

@-webkit-keyframes touch-span-ani {
  0% {
    transform: scaleY(0);
  }
  30% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes touch-span-ani {
  0% {
    transform: scaleY(0);
  }
  30% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@-webkit-keyframes touch-ani {
  0% {
    scale: 0;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    scale: 2;
    opacity: 1;
  }
  100% {
    scale: 2.5;
    opacity: 0;
  }
}
@keyframes touch-ani {
  0% {
    scale: 0;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    scale: 2;
    opacity: 1;
  }
  100% {
    scale: 2.5;
    opacity: 0;
  }
}
.term {
  width: 100%;
  height: 500px;
}
.term.last {
  height: 100vh;
}

.first-title {
  width: 100%;
  height: calc(5000px + 100vh);
  position: relative;
}
.first-title .first-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.first-title .first-sticky .eclipse-text {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.first-title .first-sticky .eclipse-text i {
  height: 100%;
  font-weight: bold;
  font-family: "Signika", sans-serif;
}
.first-title .first-sticky .eclipse-text i > span {
  display: inline-block;
  height: 100%;
  font-size: 0;
  transition: 300ms;
}
.first-title .first-sticky .eclipse-text i > span.invisible {
  opacity: 0;
}
.first-title .first-sticky .eclipse-text i > span > span {
  height: 100%;
  font-size: 20rem;
  display: inline-block;
  transition: 300ms;
  transform: translateY(100%);
  color: #00ab69;
  background-color: transparent;
}
.first-title .first-sticky .eclipse-text i > span > span.up {
  transform: translateY(20%);
}
.first-title .first-sticky .img-wrapper-second {
  width: 100%;
  height: 100%;
  position: absolute;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  display: flex;
}
.first-title .first-sticky .img-wrapper-second img {
  width: 40%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-drag: none;
  opacity: 0;
  position: absolute;
}
.first-title .first-sticky .img-wrapper-second img.origin {
  z-index: 5;
}
.first-title .first-sticky .img-wrapper-second img.shadow {
  filter: blur(30px) brightness(0.1);
  z-index: -5;
}

.second-explosion {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
}
.second-explosion .candy-wrap {
  width: 100%;
  height: 100vh;
  top: 0;
}
.second-explosion .candy-wrap .candy01,
.second-explosion .candy-wrap .candy02,
.second-explosion .candy-wrap .candy03,
.second-explosion .candy-wrap .candy04,
.second-explosion .candy-wrap .candy05,
.second-explosion .candy-wrap .candy06,
.second-explosion .candy-wrap .candy07,
.second-explosion .candy-wrap .candy08 {
  left: 35%;
  bottom: -100%;
  transform: translateX(-50%);
  position: absolute;
  width: 25%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.second-explosion .candy-wrap .candy01 img,
.second-explosion .candy-wrap .candy02 img,
.second-explosion .candy-wrap .candy03 img,
.second-explosion .candy-wrap .candy04 img,
.second-explosion .candy-wrap .candy05 img,
.second-explosion .candy-wrap .candy06 img,
.second-explosion .candy-wrap .candy07 img,
.second-explosion .candy-wrap .candy08 img {
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: drop-shadow(3px 3px 2px black);
}

@-webkit-keyframes scroll-ani {
  from {
    top: -110%;
  }
  to {
    top: 110%;
  }
}

@keyframes scroll-ani {
  from {
    top: -110%;
  }
  to {
    top: 110%;
  }
}
@media screen and (max-width: 1400px) {
  .first-title .first-sticky .eclipse-text i > span > span {
    font-size: 15rem;
  }
  .first-title .first-sticky .eclipse-text i > span > span.up {
    transform: translateY(25%);
  }
  .first-title .first-sticky .img-wrapper-second img {
    width: 50%;
  }
  .first-title .first-sticky .img-wrapper-second img.shadow {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .first-title .first-sticky .eclipse-text i > span > span {
    font-size: 10rem;
  }
  .first-title .first-sticky .eclipse-text i > span > span.up {
    transform: translateY(30%);
  }
  .first-title .first-sticky .img-wrapper-second img {
    width: 60%;
  }
  .first-title .first-sticky .img-wrapper-second img.shadow {
    display: none;
  }
  .touch {
    display: none;
  }
  .mobile-touch {
    display: flex;
  }
}
@media screen and (max-width: 767px) {
  .first-title .first-sticky .eclipse-text i > span > span {
    font-size: 5rem;
  }
  .first-title .first-sticky .eclipse-text i > span > span.up {
    transform: translateY(35%);
  }
  .first-title .first-sticky .img-wrapper-second img {
    width: 70%;
  }
  .first-title .first-sticky .img-wrapper-second img.shadow {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .first-title .first-sticky .eclipse-text i > span > span {
    font-size: 3rem;
  }
  .first-title .first-sticky .eclipse-text i > span > span.up {
    transform: translateY(35%);
  }
  .first-title .first-sticky .img-wrapper-second img {
    width: 70%;
  }
  .first-title .first-sticky .img-wrapper-second img.shadow {
    display: none;
  }
}/*# sourceMappingURL=index.css.map */