@import url("./header.css");

body {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  position: relative;
  background-color: #eefdf7;
  &.first-text-ani {
    overflow-y: hidden;
  }
}

body::-webkit-scrollbar {
  display: none;
}


.scroll {
  position: fixed;
  width: 50px;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 300ms;
  text-align: center;
  z-index: 50;
  visibility: visible;
  span {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.3;
    color: #00ab69;
  }
  .line {
    margin: 30px auto 0;
    width: 2px;
    height: 100px;
    position: relative;
    overflow: hidden;
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      display: block;
      left: 0;
      background: #00ab69;
      animation: scroll-ani infinite 2000ms linear;
    }
  }

  &.invisible {
    opacity: 0;
    visibility: hidden;
  }
}
.term {
  width: 100%;
  height: 500px;
  &.last {
    height: 100vh;
  }
}

.first-title {
  width: 100%;
  height: calc(5000px + 100vh);
  position: relative;
  .first-sticky {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;

    .eclipse-text {
      width: 100%;
      height: 100%;
      position: absolute;
      overflow: hidden;
      display: flex;
      justify-content: center;
      i {
        height: 100%;
        font-weight: bold;
        font-family: "Signika", sans-serif;
        > span {
          display: inline-block;
          height: 100%;
          font-size: 0;
          transition: 300ms;
          &.invisible {
            opacity: 0;
          }

          > span {
            height: 100%;
            font-size: 20rem;
            display: inline-block;
            transition: 300ms;
            transform: translateY(100%);
            color: #00ab69;
            &.up {
              transform: translateY(20%);
            }
          }
        }
      }
    }
    .img-wrapper-second {
      width: 50%;
      height: 100%;
      position: absolute;
      align-items: center;
      overflow: hidden;
      display: flex;
      img {
        opacity: 0;
        width: 100%;
        object-fit: cover;
        transition: 600ms;
        -webkit-user-drag: none;
      }
      &.visible img {
        opacity: 1;
      }
    }
  }
}

.second-explosion {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  .candy-wrap {
    width: 100%;
    height: 100vh;
    top: 0;
    .candy01,
    .candy02,
    .candy03,
    .candy04,
    .candy05,
    .candy06,
    .candy07,
    .candy08 {
      position: absolute;
      width: 20%;
      overflow: hidden;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    .candy01 {
      left: 40%;
      bottom: -100%;
      transform: translateX(-50%);
    }
    .candy02 {
      left: 40%;
      bottom: -100%;
      transform: translateX(-50%);
    }
    .candy03 {
      left: 40%;
      bottom: -100%;
      transform: translateX(-50%);
    }
    .candy04 {
      left: 40%;
      bottom: -100%;
      transform: translateX(-50%);
    }
    .candy05 {
      left: 40%;
      bottom: -100%;
      transform: translateX(-50%);
    }
    .candy06 {
      left: 40%;
      bottom: -100%;
      transform: translateX(-50%);
    }
    .candy07 {
      left: 40%;
      bottom: -100%;
      transform: translateX(-50%);
    }
    .candy08 {
      left: 40%;
      bottom: -100%;
      transform: translateX(-50%);
    }
  }
}


@keyframes scroll-ani {
  from {
    top: -110%;
  }
  to {
    top: 110%;
  }
}
