@import url(./header.css);
body::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  height: 100vh;
  background: #eefdf7;
}

.main {
  width: 100%;
  display: flex;
  position: relative;
}
.main .main-item {
  width: 65%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}
.main .main-item .visual-candy {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  z-index: 99;
  display: none;
}
.main .main-item .visual-chewy {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  z-index: 99;
  display: none;
}
.main .main-item h2 {
  position: absolute;
  top: 25%;
  z-index: 22;
  left: 10%;
  font-size: 30px;
  /*       margin-left: 150px;
  margin-bottom: 100px;
  margin-top: 150px; */
}
.main .main-item .item-img {
  height: 40%;
  width: 35%;
  background-color: #003082;
  border: 5px solid black;
  border-radius: 50px;
  overflow: hidden;
  margin-left: 100px;
  margin-top: 340px;
  padding: 0 30px;
}
.main .main-item .item-img > img {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-animation: ani 1s ease-in-out;
          animation: ani 1s ease-in-out;
}
@-webkit-keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.main .main-item .text {
  position: absolute;
  top: 35%;
  width: 40%;
  height: 50%;
  left: 48%;
  margin: 0px 30px;
}
.main .main-item .text h3 {
  font-size: 40px;
  margin: 0;
}
.main .main-item .text p {
  font-size: 20px;
  margin-top: 12%;
  line-height: 177%;
}
.main .zoomWindow {
  border-radius: 50%;
  border: 5px solid black;
  position: fixed;
  right: 41%;
  top: 22%;
  display: none;
  background-color: #003082;
  overflow: hidden;
  height: 500px;
  width: 500px;
  padding: 0 30px;
}
.main .zoomWindow img {
  position: relative;
  -o-object-fit: contain;
     object-fit: contain;
  width: 549px;
  height: 454px;
  transform-origin: center center;
}
.main .main-content {
  right: 0;
  position: absolute;
  width: 100%;
  z-index: 888;
  background: #00ab69;
  height: 100vh;
  overflow: hidden;
  transition: 1s;
}
.main .main-content .choice {
  margin-top: 265px;
  margin-bottom: 245px;
  text-align: center;
  justify-content: center;
}
.main .main-content .choice h1 {
  width: 100%;
  color: white;
  font-size: 50px;
}
.main .main-content .choice button {
  margin: 50px 50px 0 50px;
  font-size: 20px;
}
.main .main-content .choice .w-btn {
  position: relative;
  border: none;
  display: inline-block;
  padding: 35px 60px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
}
.main .main-content .choice .w-btn-indigo {
  background-color: aliceblue;
  color: #1e6b7b;
}
.main .main-content .choice .w-btn:hover {
  letter-spacing: 2px;
  transform: scale(1.2);
  cursor: pointer;
}
.main .main-content .choice .w-btn:active {
  transform: scale(1.5);
}
.main .main-content .ani {
  width: 10000px;
  height: 300px;
  display: flex;
  white-space: nowrap;
  -webkit-animation: bg 120s linear infinite;
          animation: bg 120s linear infinite;
}
.main .main-content .ani img:nth-child(2n) {
  width: 200px;
  height: 200px;
  -webkit-animation: aa 5s linear infinite;
          animation: aa 5s linear infinite;
  margin: 30px;
  margin-left: 100px;
}
.main .main-content .ani img:nth-child(2n+1) {
  width: 200px;
  height: 200px;
  -webkit-animation: aa1 10s linear infinite;
          animation: aa1 10s linear infinite;
  margin: 30px;
  margin-left: 100px;
}
@-webkit-keyframes aa {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1080deg);
  }
}
@keyframes aa {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1080deg);
  }
}
@-webkit-keyframes aa1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-730deg);
  }
}
@keyframes aa1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-730deg);
  }
}
@-webkit-keyframes bg {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes bg {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.main .main-content .aa {
  text-align: center;
}
.main .main-content .aa h2 {
  color: white;
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 20px;
}
.main .main-content .candy {
  padding: 200px 0 100px 0;
}
.main .main-content .candy .candycont {
  width: 100%;
  height: 100%;
  background: #00ab69;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 250px;
}
.main .main-content .candy .candycont .contdetail {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 40%;
  height: 109px;
  border: 3px solid black;
  background-color: white;
  border-radius: 13px;
  cursor: pointer;
  margin: 20px 20px;
}
.main .main-content .candy .candycont .contdetail img {
  width: 40%;
}
.main .main-content .candy .candycont .contdetail:hover {
  transition: 0.5s;
  background-color: #003082;
}
.main .main-content .candy .candycont .contdetail:hover img {
  scale: 1.1;
  transition: 0.5s;
}
.main .main-content .candy .candydetail:nth-child(1) {
  margin-bottom: 100px;
}
.main .main-content .chewy {
  padding: 235px 0;
}
.main .main-content .chewy .candycont {
  width: 100%;
  height: 100%;
  background: #00ab69;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 250px;
}
.main .main-content .chewy .candycont .contdetail {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 40%;
  height: 109px;
  border: 3px solid black;
  background-color: white;
  border-radius: 13px;
  cursor: pointer;
  margin: 20px 20px;
}
.main .main-content .chewy .candycont .contdetail img {
  width: 40%;
}
.main .main-content .chewy .candycont .contdetail:hover {
  transition: 0.5s;
  background-color: #003082;
}
.main .main-content .chewy .candycont .contdetail:hover img {
  scale: 1.1;
  transition: 0.5s;
}
.main .main-content .chewy .candydetail:nth-child(1) {
  margin-bottom: 100px;
}
.main .main-content .text {
  margin-top: 120px;
  width: 85%;
  position: relative;
}
.main .main-content .text h2 {
  font-size: 40px;
  margin-bottom: 25px;
}
.main .main-content .text p {
  font-size: 24px;
  line-height: 38px;
}/*# sourceMappingURL=product.css.map */