@import url(./reset.css);
@import url(./header.css);

body {
  position: fixed;
  transition: 2s;
  &::-webkit-scrollbar {
    -ms-overflow-style: none;
    display: none;
  }
}
#main {
  transition: background 1s;
  &.active {
    // background: #b7ebd6;
    // background: #ecfff7;
    background: #eefdf7;
    // background: url(../01.img/mint_background_1500.jpg) no-repeat center
    //   center / cover;
    // background: url(../01.img/mint_background_1500.jpg) no-repeat center/ cover;
    // background: linear-gradient(
    //   0deg,
    //   rgba(183, 235, 214, 0) 0%,
    //   rgba(183, 235, 214, 0.5) 50%,
    //   rgba(183, 235, 214, 1) 100%
    // );
  }
  .main-wrapper {
    background-image: url();
    width: 100vw;
    height: 100vh;
    .main-container1 {
      // background-color: #b7ebd6;
      transition: opacity 0.5s (cubic-bezier(0.5, 1, 0.89, 1));
      &.active {
        display: none;
      }
      .container1-item-wrapper {
        max-width: 1600px;
        margin: 0 auto;
        padding: 0 60px;
        .container1-intro-text {
          padding-top: 45.5vh;
          // transition: 2s;
          .intro-text-wrapper {
            width: 100%;
            line-height: 1.25;
            font-size: 5vw;
            transition: translate 1s cubic-bezier(0.5, 1, 0.89, 1),
              opacity (cubic-bezier(0.5, 1, 0.89, 1));
            color: #b7ebd6;
            // color: #003082;
            // font-weight: bold;
            user-select: none;
            .intro-text1 {
              text-transform: uppercase;
              opacity: 0;
            }
            .intro-text2 {
              opacity: 0;
            }
            .intro-text3 {
              opacity: 0;
            }
            .intro-text4 {
              opacity: 0;
            }
            .intro-text5 {
              text-transform: uppercase;
              opacity: 0;
            }
          }
        }
        .intro-skip-wrapper {
          // display: block;
          .intro-skip-btn {
            position: absolute;
            top: -100px;
            left: -75px;
            display: block;
            // padding: 18px;
            border-radius: 50%;
            z-index: 10;
            border: 1px solid rgba(255, 255, 255, 0.5);
            transform: translate(-50%, -50%);
            transition: transform 150ms cubic-bezier(0.215, 0.61, 0.355, 1),
              opacity 200ms linear;
            width: 150px;
            height: 150px;
            border: none;
            border-radius: 50%;
            z-index: 1;
            &:hover {
              background-color: rgba(183, 235, 214, 0.5);
            }
          }
        }
        .canvas {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          overflow: hidden;
          z-index: -1;
          // &.active {
          //   opacity: 0;
          //   transition: 2s;
          // }
        }
      }
    }
    .main-container2 {
      text-align: center;
      z-index: 10;
      .container2-item01 {
        width: 35vw;
        position: absolute;
        top: 60%;
        translate: -200% -50%;
        z-index: 3;
        transition: translate 0.4s cubic-bezier(0.93, 0.01, 0.1, 0.98),
          opacity 1s (cubic-bezier(0.5, 1, 0.89, 1));
        background-color: #b7ebd6;
        &.active {
          translate: -100% -50%;
          opacity: 1;
        }
        nav {
          position: relative;
          height: 80vh;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          border: 1px solid #000;
          border-radius: 0px 25px 25px 0px;
          &::after {
            content: "";
            position: absolute;
            left: 100%;
            width: 50px;
            height: 100px;
            // background: #003082;
            border-radius: 0 100px 100px 0;
            border: 1px solid #000;
          }
          div {
            height: 100%;
            flex-basis: 10%;
            .year-btn {
              border: 1px solid #000;
              background-color: transparent;
              width: 100%;
              height: 100%;
              cursor: pointer;
              &:hover{
                transition: 0.25s;
                flex-basis: 50%;
              }
            }
          }
        }
      }
    }
    .main-container3 {
      height: 100%;
      margin: auto;
      opacity: 0;
      &.active {
        opacity: 1;
      }
      &.blur {
        filter: blur(5px);
      }
      .container3-text-box {
        width: 100%;
        position: relative;
        top: 15vh;
        right: 10vw;
        text-align: right;
        z-index: 2;
        letter-spacing: 0.875rem;
        transition: background 1s;
        .main-text {
          text-transform: uppercase;
          font-size: 4vw;
          span {
            user-select: none;
            display: inline-block;
            opacity: 0;
          }
        }
        .sub-text {
          font-size: 1.2vw;
          letter-spacing: 0.2rem;
          opacity: 0;
        }
        .text01 {
          margin-top: 20px;
        }
      }
      .container3-text-box2 {
        position: relative;
        width: 50%;
        height: 100%;
        .container3-text-wrap {
          h2 {
            position: absolute;
            top: 8vh;
            left: 15vw;
            font-size: 4vw;
            font-style: italic;
            z-index: 1;
            opacity: 0;
            transition: opacity 0.5s (cubic-bezier(0.5, 1, 0.89, 1));
          }
          p {
            position: absolute;
            top: 45vh;
            left: 40%;
            font-size: 1.5vw;
            opacity: 0;
            // &.active {
            //   opacity: 1;
            // }
          }
        }
      }
      .container3-card-wrapper {
        .container3-card {
          position: absolute;
          top: 17vh;
          left: 50vw;
          translate: -50% 0;
          letter-spacing: 0.5rem;
          width: 80vw;
          .dynamic-bg {
            transition: fill 1s;
            opacity: 0.5;
            translate: 0 40%;
            // background-image: url(../01.img/name_bbcc03070df679828b8363489dac1c467ca898e0.avif);
            &.active {
              transition: 0.4s;
              translate: 0 0;
            }
          }
          p {
            text-transform: uppercase;
            position: absolute;
            font-size: 3vw;
            top: 5vh;
            left: 3vw;
          }
          // img {
          //   width: 500px;
          //   position: absolute;
          //   top: 50%;
          //   left: 5vw;
          //   translate: 0 -50%;
          //   // rotate: 270deg;
          //   filter: drop-shadow(30px 20px 10px rgba(0, 0, 0, 1)) brightness(70%)
          //     contrast(150%) saturate(0%) brightness(150%);
          // }
        }
      }
    }
    .swiper {
      position: absolute;
      top: 39vh;
      // left: 14vw;
      left: 15vw;
      width: 100%;
      height: 100%;
      translate: 0 100%;
      &.active {
        transition: translate 0.8s;
        translate: 0 0;
      }
      .swiper-wrapper {
        width: 100%;
        .swiper-slide {
          text-align: center;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          figure {
            width: 100%;
            height: 100%;
            img {
              display: block;
              width: 70vw;
              height: 70vh;
              object-fit: cover;
              border-radius: 35px;
              transform-origin: right bottom;
            }
          }
        }
      }
      .swiper-pagination {
        position: absolute;
        width: 1px;
        top: -100%;
        left: 0;
        transform: translate(0);
        opacity: 0;
      }
      .swiper-button-prev {
        left: 50%;
        top: 21%;
        transform: rotate(90deg);
        transform-origin: left center;
        z-index: 10;
        background-color: red;
        &::after {
          display: none;
        }
      }
      .swiper-button-next {
        left: 50%;
        top: 75%;
        transform: rotate(90deg);
        transform-origin: left center;
        background-color: blue;
        &::after {
          display: none;
        }
      }
    }
  }
}

@keyframes opacityBlurAni {
  0% {
    opacity: 0;
    filter: blur(10px);
  }
  20% {
    filter: blur(0);
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0.5;
    filter: blur(0);
  }
  100% {
    opacity: 0;
    filter: blur(10px);
  }
}
@keyframes tinScaleAni {
  0% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(0.33);
  }
}
@keyframes spinner {
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(10deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-10deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(5deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  0% {
    transform: translate3d(0, 100px, 0);
  }

  50% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  95% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@keyframes revealOpacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
