@import url(./reset.css);
@import url(./header.css);
body {
  position: fixed;
  transition: 2s;
}
body::-webkit-scrollbar {
  -ms-overflow-style: none;
  display: none;
}

#main {
  transition: background 1s;
}
#main.active {
  background: #eefdf7;
}
#main .main-wrapper {
  width: 100vw;
  height: 100vh;
}
#main .main-wrapper .main-container1 {
  transition: opacity 0.5s cubic-bezier(0.5, 1, 0.89, 1);
}
#main .main-wrapper .main-container1.active {
  display: none;
}
#main .main-wrapper .main-container1 .container1-item-wrapper {
  max-width: 1600px;
  margin: 0 auto;
}
#main .main-wrapper .main-container1 .container1-item-wrapper .container1-intro-text {
  padding-top: 45.5vh;
}
#main .main-wrapper .main-container1 .container1-item-wrapper .container1-intro-text .intro-text-wrapper {
  width: 100%;
  line-height: 1.25;
  font-size: 5vw;
  transition: translate 1s cubic-bezier(0.5, 1, 0.89, 1), opacity cubic-bezier(0.5, 1, 0.89, 1);
  color: #b7ebd6;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#main .main-wrapper .main-container1 .container1-item-wrapper .container1-intro-text .intro-text-wrapper .intro-text1 {
  text-transform: uppercase;
  opacity: 0;
}
#main .main-wrapper .main-container1 .container1-item-wrapper .container1-intro-text .intro-text-wrapper .intro-text2 {
  opacity: 0;
}
#main .main-wrapper .main-container1 .container1-item-wrapper .container1-intro-text .intro-text-wrapper .intro-text3 {
  opacity: 0;
}
#main .main-wrapper .main-container1 .container1-item-wrapper .container1-intro-text .intro-text-wrapper .intro-text4 {
  opacity: 0;
}
#main .main-wrapper .main-container1 .container1-item-wrapper .container1-intro-text .intro-text-wrapper .intro-text5 {
  text-transform: uppercase;
  opacity: 0;
}
#main .main-wrapper .main-container1 .container1-item-wrapper .intro-skip-wrapper .intro-skip-btn {
  position: absolute;
  top: -100px;
  left: -75px;
  display: block;
  border-radius: 50%;
  z-index: 10;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transform: translate(-50%, -50%);
  transition: transform 150ms cubic-bezier(0.215, 0.61, 0.355, 1), opacity 200ms linear;
  width: 150px;
  height: 150px;
  border: none;
  border-radius: 50%;
  z-index: 1;
}
#main .main-wrapper .main-container1 .container1-item-wrapper .intro-skip-wrapper .intro-skip-btn:hover {
  background-color: rgba(183, 235, 214, 0.5);
}
#main .main-wrapper .main-container1 .container1-item-wrapper .canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
#main .main-wrapper .main-container2 {
  text-align: center;
}
#main .main-wrapper .main-container2 .container2-item01 {
  width: 5vw;
  position: absolute;
  top: 50%;
  translate: -200% -50%;
  z-index: 3;
  transition: translate 0.4s cubic-bezier(0.93, 0.01, 0.1, 0.98), opacity 1s cubic-bezier(0.5, 1, 0.89, 1);
}
#main .main-wrapper .main-container2 .container2-item01.active {
  translate: -100% -50%;
  opacity: 1;
}
#main .main-wrapper .main-container2 .container2-item01 nav {
  position: relative;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid #000;
  border-radius: 0px 20px 20px 0px;
}
#main .main-wrapper .main-container2 .container2-item01 nav::after {
  content: "";
  position: absolute;
  left: 100%;
  width: 50px;
  height: 100px;
  border-radius: 0 100px 100px 0;
  border: 1px solid #000;
}
#main .main-wrapper .main-container2 .container2-item01 nav div {
  height: 100%;
  flex-basis: 7%;
}
#main .main-wrapper .main-container2 .container2-item01 nav div .year-btn {
  border: none;
  background-color: transparent;
  height: 100%;
  cursor: pointer;
}
#main .main-wrapper .main-container3 {
  height: 100%;
  margin: auto;
  display: none;
  opacity: 0;
}
#main .main-wrapper .main-container3.active {
  display: block;
  opacity: 1;
}
#main .main-wrapper .main-container3 .container3-text-box {
  width: 100%;
  position: relative;
  top: 15vh;
  right: 10vw;
  text-align: right;
  z-index: 2;
  letter-spacing: 0.875rem;
  transition: background 1s;
}
#main .main-wrapper .main-container3 .container3-text-box .main-text {
  text-transform: uppercase;
  font-size: 6vw;
}
#main .main-wrapper .main-container3 .container3-text-box .main-text span {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: inline-block;
  opacity: 0;
}
#main .main-wrapper .main-container3 .container3-text-box .sub-text {
  font-size: 1.2vw;
  letter-spacing: 0.2rem;
  opacity: 0;
}
#main .main-wrapper .main-container3 .container3-text-box .text01 {
  margin-top: 20px;
}
#main .main-wrapper .main-container3 .container3-text-box2 {
  position: relative;
  width: 100%;
  height: 100%;
}
#main .main-wrapper .main-container3 .container3-text-box2 h2 {
  position: absolute;
  top: 30vh;
  left: 50vw;
  font-size: 6vw;
  font-style: italic;
  opacity: 0;
}
#main .main-wrapper .main-container3 .container3-text-box2 .container3-sub-text-wrapper p {
  position: absolute;
  top: 45vh;
  left: 53vw;
  font-size: 3vw;
  opacity: 0;
}
#main .main-wrapper .main-container3 .container3-card-wrapper .container3-card {
  position: absolute;
  top: 45%;
  left: 17vh;
  letter-spacing: 0.5rem;
  width: 600px;
  height: 400px;
  display: block;
  background-color: #b7ebd6;
  border-radius: 25px;
}
#main .main-wrapper .main-container3 .container3-card-wrapper .container3-card p {
  position: absolute;
  top: 0;
  left: 0;
}
#main .main-wrapper .swiper {
  position: absolute;
  top: 15%;
  left: 20vh;
  translate: 0 70%;
  width: 550px;
  height: 100%;
}
#main .main-wrapper .swiper.active {
  transition-property: transition 0.25s;
  translate: 0 0;
}
#main .main-wrapper .swiper .swiper-wrapper {
  width: 100%;
}
#main .main-wrapper .swiper .swiper-wrapper .swiper-slide {
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#main .main-wrapper .swiper .swiper-wrapper .swiper-slide img {
  display: block;
  width: 550px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
}
#main .main-wrapper .swiper .swiper-pagination {
  position: absolute;
  top: -100%;
  left: 0;
  transform: translate(0);
}
#main .main-wrapper .swiper .swiper-button-prev {
  left: 50%;
  top: 21%;
  transform: rotate(90deg);
  transform-origin: left center;
  z-index: 10;
  background-color: red;
}
#main .main-wrapper .swiper .swiper-button-prev::after {
  display: none;
}
#main .main-wrapper .swiper .swiper-button-next {
  left: 50%;
  top: 75%;
  transform: rotate(90deg);
  transform-origin: left center;
  background-color: blue;
}
#main .main-wrapper .swiper .swiper-button-next::after {
  display: none;
}

@-webkit-keyframes opacityBlurAni {
  0% {
    opacity: 0;
    filter: blur(10px);
  }
  20% {
    filter: blur(0);
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0.5;
    filter: blur(0);
  }
  100% {
    opacity: 0;
    filter: blur(10px);
  }
}

@keyframes opacityBlurAni {
  0% {
    opacity: 0;
    filter: blur(10px);
  }
  20% {
    filter: blur(0);
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0.5;
    filter: blur(0);
  }
  100% {
    opacity: 0;
    filter: blur(10px);
  }
}
@-webkit-keyframes tinScaleAni {
  0% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(0.33);
  }
}
@keyframes tinScaleAni {
  0% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(0.33);
  }
}
@-webkit-keyframes spinner {
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes spinner {
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(10deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-10deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(5deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(10deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-10deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(5deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    transform: translate3d(0, 100px, 0);
  }
  50% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  95% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInUp {
  0% {
    transform: translate3d(0, 100px, 0);
  }
  50% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  95% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes revealOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes revealOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=story.css.map */