@import url(./reset.css);
@import url(./header.css);

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  //수정 끝나면 스티키
  position: fixed;
  // position: static;
  width: 100%;
  height: 100%;

  // transition: 2s;
  &::-webkit-scrollbar {
    -ms-overflow-style: none;
    display: none;
  }

  #main {
    transition: background 0.5s;
    height: 100%;
    &.active {
      width: 100%;
      background: #eefdf7;
    }
    .main-wrapper {
      width: 100vw;
      height: 200vh;
      .main-container1 {
        transition: opacity 0.5s (cubic-bezier(0.5, 1, 0.89, 1));
        &.active {
          display: none;
        }
        .container1-item-wrapper {
          max-width: 1600px;
          margin: 0 auto;
          padding: 0 80px;
          .container1-intro-text {
            padding-top: 45.5vh;
            .intro-text-wrapper {
              width: 100%;
              line-height: 1.25;
              font-size: 5vw;
              transition: translate 1s cubic-bezier(0.5, 1, 0.89, 1), opacity (cubic-bezier(0.5, 1, 0.89, 1));
              color: #b7ebd6;
              user-select: none;
              .intro-text1 {
                text-transform: uppercase;
                opacity: 0;
              }
              .intro-text2 {
                opacity: 0;
              }
              .intro-text3 {
                opacity: 0;
              }
              .intro-text4 {
                opacity: 0;
              }
              .intro-text5 {
                text-transform: uppercase;
                opacity: 0;
              }
            }
          }
          .intro-skip-wrapper {
            .intro-skip-btn {
              position: absolute;
              top: -100px;
              left: -75px;
              display: block;
              border-radius: 50%;
              z-index: 10;
              border: 1px solid rgba(255, 255, 255, 0.5);
              transform: translate(-50%, -50%);
              transition: transform 150ms cubic-bezier(0.215, 0.61, 0.355, 1), opacity 200ms linear;
              width: 150px;
              height: 150px;
              border: none;
              z-index: 2;
              &:hover {
                background-color: rgba(183, 235, 214, 0.5);
              }
            }
          }
          .canvas {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            z-index: 1;
          }
        }
      }
      .main-container2 {
        text-align: center;
        z-index: 10;
        .container2-item01 {
          width: 6vw;
          position: absolute;
          top: 60%;
          left: 2vw;
          translate: -200px -50%;
          z-index: 3;
          transition: translate 1s cubic-bezier(0.93, 0.01, 0.1, 0.98), opacity 1s (cubic-bezier(0.5, 1, 0.89, 1));
          &.active {
            translate: 0 -50%;
          }
          nav {
            position: relative;
            height: 40vh;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            div {
              display: flex;
              align-items: center;
              transition: translate 1s cubic-bezier(0.93, 0.01, 0.1, 0.98), opacity 1s (cubic-bezier(0.5, 1, 0.89, 1)) scale 0.5s;
              flex-basis: 20%;
              .year-btn {
                display: block;
                background-color: transparent;
                border: none;
                width: 1.3vw;
                height: 1.3vw;
                background-color: lightgray;
                border-radius: 20px;
                cursor: pointer;
                filter: drop-shadow(1px 1px 2px #000000);
                &.active {
                  height: 5vh;
                  transition: 0.75s;
                  background-color: #5e454b;
                }
              }
            }
          }
        }
      }
      .main-container3 {
        margin: auto;
        opacity: 0;
        &.active {
          opacity: 1;
        }
        &.blur {
          filter: blur(5px);
        }
        .container3-text-box {
          width: 100%;
          height: 100%;
          z-index: 10;
          color: #fff;
          .container3-text-wrap {
            text-transform: uppercase;
            font-size: 4vw;
            font-weight: normal;
            h2 {
              text-align: center;
              position: absolute;
              top: 63vh;
              left: 50%;
              letter-spacing: 0.2rem;
              translate: -50% 0;
              font-weight: normal;
              font-size: 2vw;
              z-index: 10;
              transition: opacity 0.5s (cubic-bezier(0.5, 1, 0.89, 1));
              translate: 1s;
              span {
                user-select: none;
                display: inline-block;
                opacity: 0;
              }
            }
            p {
              width: 100%;
              margin-top: 25px;
              user-select: none;
              text-align: center;
              position: absolute;
              top: 70vh;
              line-height: 8vh;
              left: 50%;
              translate: -50% 0;
              font-size: 5vw;
              z-index: 10;
              opacity: 0;
              font-style: italic;
            }
          }
        }
        .indigator {
          position: absolute;
          top: 50vh;
          right: 4.5%;
          translate: 150px -50%;
          font-size: 1.5vw;
          font-weight: 100;
          z-index: 5;
          border-radius: 50%;
          color: #000;
          padding: 10px;
          transition: translate 1s cubic-bezier(0.93, 0.01, 0.1, 0.98), opacity 1s (cubic-bezier(0.5, 1, 0.89, 1));
          &.active {
            translate: 0 -50%;
          }
        }
        .btv {
          font-size: 1.5vw;
          position: fixed;
          bottom: 3vh;
          right: 1.5vw;
          z-index: 10;
          opacity: 0;
          user-select: none;
          transition: opacity 0.5s;
          background: url(../01.img/Back-2-2-icon.png) no-repeat center center/cover;
          border: none;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          transition: scale 0.5s opacity 0.5s;
          &:hover {
            scale: 1.2;
          }
        }
      }
      .swiper {
        //수정 끝나면 삭제
        // display: none;
        position: absolute;
        top: 10vh;
        left: 0;
        width: 100%;
        height: 100%;
        .swiper-wrapper {
          width: 100%;
          .swiper-slide {
            width: 100%;
            height: 100%;
            text-align: center;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            transform-origin: right bottom;
            backface-visibility: hidden;
            transform: translate3d(0, 0, 0);
            &.active {
              transition: 0.75;
              opacity: 0;
            }
            // div {
            video {
              width: 100%;
              height: 100%;
              display: block;
              width: 78vw;
              height: 80vh;
              object-fit: cover;
              border-radius: 35px 35px 0 0;
              margin: 0 auto;
              filter: brightness(0.3);
              translate: 0 120%;
              transition: 0.5s;
              &.active {
                translate: 0 0;
                transition: 0.5s;
              }
            }
            // }
          }
        }
      }
      .scroll-img {
        position: absolute;
        top: 90vh;
        left: 50vw;
        translate: -50% 90%;
        z-index: 10;
        transition: translate 0.35s;
        img {
          width: 5vw;
        }
      }
      .main-container4 {
        position: relative;
        top: 100vh;
        .container4-wrapper {
          max-width: 1600px;
          margin: 0 auto;
          .canvas2 {
            position: absolute;
          }
          .container4-item {
            text-align: center;
            .container4-content1 {
              max-width: 1600px;
              padding: 120px 120px 0;
              display: flex;
              // justify-content: space-evenly;
              figure {
                position: relative;
                width: 600px;
                height: 350px;
                overflow: hidden;
                flex-shrink: 0;
                img {
                  rotate: 180deg;
                  scale: 1;
                  flex-basis: fit-content;
                  width: 100%;
                }
              }
              .main-text-wrapper {
                display: flex;
                flex-direction: column;
                margin-left: 40px;
                justify-content: center;
                h3 {
                  font-size: 3vw;
                  flex-basis: 1;
                  text-align: left;
                  margin-bottom: 25px;
                }
                div {
                  text-align: left;
                  font-size: 1.25vw;
                  line-height: 2.5rem;
                }
              }
            }
            .item4-text {
              width: 100vw;
              margin-bottom: 12vw;
              display: flex;
              p {
                margin: 0px 0 0 0;
                padding: 10px 0;
                font-size: 8vw;
              }
            }
          }
          .item1 {
            display: none;
            &.active {
              display: block;
            }
            P {
              rotate: -2deg;
              color: #59ebb1;
              background-color: #fdf7ee;
              font-weight: 900;
              text-transform: uppercase;
              font-size: clamp(3rem, 10vw, 6rem);
              line-height: 0.75em;
              text-shadow: 3px 1px 1px #4af7ff, 2px 2px 1px #165bfb, 4px 2px 1px #4af7ff, 3px 3px 1px #165bfb, 5px 3px 1px #4af7ff, 4px 4px 1px #165bfb, 6px 4px 1px #4af7ff, 5px 5px 1px #165bfb,
                7px 5px 1px #4af7ff, 6px 6px 1px #165bfb, 8px 6px 1px #4af7ff, 7px 7px 1px #165bfb, 9px 7px 1px #4af7ff;
            }
          }
          .item2 {
            display: none;
            &.active {
              display: block;
            }
            P {
              rotate: -2deg;
              color: #ffce6c;
              background-color: #fdf7ee;
              font-weight: 900;
              text-transform: uppercase;
              font-size: clamp(3rem, 10vw, 6rem);
              line-height: 0.75em;
              text-shadow: 3px 1px 1px #4af7ff, 2px 2px 1px #165bfb, 4px 2px 1px #4af7ff, 3px 3px 1px #165bfb, 5px 3px 1px #4af7ff, 4px 4px 1px #165bfb, 6px 4px 1px #4af7ff, 5px 5px 1px #165bfb,
                7px 5px 1px #4af7ff, 6px 6px 1px #165bfb, 8px 6px 1px #4af7ff, 7px 7px 1px #165bfb, 9px 7px 1px #4af7ff;
            }
          }
          .item3 {
            display: none;
            &.active {
              display: block;
            }
            P {
              rotate: -2deg;
              color: #c7b25a;
              background-color: #fdf7ee;
              font-weight: 900;
              text-transform: uppercase;
              font-size: clamp(3rem, 10vw, 6rem);
              line-height: 0.75em;
              text-shadow: 3px 1px 1px #4af7ff, 2px 2px 1px #165bfb, 4px 2px 1px #4af7ff, 3px 3px 1px #165bfb, 5px 3px 1px #4af7ff, 4px 4px 1px #165bfb, 6px 4px 1px #4af7ff, 5px 5px 1px #165bfb,
                7px 5px 1px #4af7ff, 6px 6px 1px #165bfb, 8px 6px 1px #4af7ff, 7px 7px 1px #165bfb, 9px 7px 1px #4af7ff;
            }
          }
          .item4 {
            display: none;
            &.active {
              display: block;
            }
            P {
              rotate: -2deg;
              color: #ca7676;
              background-color: #fdf7ee;
              font-weight: 900;
              text-transform: uppercase;
              font-size: clamp(3rem, 10vw, 6rem);
              line-height: 0.75em;
              text-shadow: 3px 1px 1px #4af7ff, 2px 2px 1px #165bfb, 4px 2px 1px #4af7ff, 3px 3px 1px #165bfb, 5px 3px 1px #4af7ff, 4px 4px 1px #165bfb, 6px 4px 1px #4af7ff, 5px 5px 1px #165bfb,
                7px 5px 1px #4af7ff, 6px 6px 1px #165bfb, 8px 6px 1px #4af7ff, 7px 7px 1px #165bfb, 9px 7px 1px #4af7ff;
            }
          }
          .item5 {
            display: none;
            &.active {
              display: block;
            }
            P {
              rotate: -2deg;
              color: #ffe52f;
              background-color: #fdf7ee;
              font-weight: 900;
              text-transform: uppercase;
              font-size: clamp(3rem, 10vw, 6rem);
              line-height: 0.75em;
              text-shadow: 3px 1px 1px #4af7ff, 2px 2px 1px #165bfb, 4px 2px 1px #4af7ff, 3px 3px 1px #165bfb, 5px 3px 1px #4af7ff, 4px 4px 1px #165bfb, 6px 4px 1px #4af7ff, 5px 5px 1px #165bfb,
                7px 5px 1px #4af7ff, 6px 6px 1px #165bfb, 8px 6px 1px #4af7ff, 7px 7px 1px #165bfb, 9px 7px 1px #4af7ff;
            }
          }
          .item6 {
            display: none;
            &.active {
              display: block;
            }
            P {
              rotate: -2deg;
              color: #9fcd54;
              background-color: #fdf7ee;
              font-weight: 900;
              text-transform: uppercase;
              font-size: clamp(3rem, 10vw, 6rem);
              line-height: 0.75em;
              text-shadow: 3px 1px 1px #4af7ff, 2px 2px 1px #165bfb, 4px 2px 1px #4af7ff, 3px 3px 1px #165bfb, 5px 3px 1px #4af7ff, 4px 4px 1px #165bfb, 6px 4px 1px #4af7ff, 5px 5px 1px #165bfb,
                7px 5px 1px #4af7ff, 6px 6px 1px #165bfb, 8px 6px 1px #4af7ff, 7px 7px 1px #165bfb, 9px 7px 1px #4af7ff;
            }
          }
        }
      }
    }
  }
}

@keyframes opacityBlurAni {
  0% {
    opacity: 0;
    filter: blur(10px);
  }
  20% {
    filter: blur(0);
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0.5;
    filter: blur(0);
  }
  100% {
    opacity: 0;
    filter: blur(10px);
  }
}
@keyframes tinScaleAni {
  0% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(0.33);
  }
}
@keyframes spinner {
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(10deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-10deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(5deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  0% {
    transform: translate3d(0, 30px, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes revealOpacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@import "_story";
